.exercise-card {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  img {
    height: 120px;
    object-fit: cover; // da se slika ne razvuče ruzno
  }

  ion-card-title {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .add-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5rem;
  }
}