<ion-app>

<ion-menu contentId="main-content"> <!-- Ovde smo postavili meni -->
  <ion-header>
    <ion-toolbar>
      <ion-title>GPT</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person-sharp", slot="start"></ion-icon>
        <ion-label>My profile</ion-label>
      </ion-item>
      <ion-menu-toggle><ion-item routerLink="/workout-log">
        <ion-icon name="barbell-sharp", slot="start"></ion-icon>
        <ion-label>Workout log</ion-label>
      </ion-item></ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/add-exercise">
       <ion-icon name="add-circle-sharp", slot="start"></ion-icon>
        <ion-label>Add exercise</ion-label>
      </ion-item></ion-menu-toggle>
      
      <ion-item>
       <ion-icon name="stats-chart-sharp", slot="start"></ion-icon>
        <ion-label>Statistics</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


  <ion-router-outlet Id="main-content"></ion-router-outlet>




</ion-app>
